<html>
	<head>
		<link rel="stylesheet" href="jemdoc.css" type="text/css"/>
		<link rel="icon" href="images/favicon.ico"><title>IMT2200</title>
	</head>
	<body>
		<div id="container">
			<table id="tlayout">
				<tr valign="top">
					<td id="layout-menu">
						<a href="http://imc.uc.cl/index.php/estudiantes/estudiantes-de-pregrado/ingenieria-en-ciencia-de-datos" target="_blank">
							<img src="images/logo.png" class="center">
						</a>
						<div class="menu-category"><a href="index.html">INICIO</a></div>
						<div class="menu-category"><a href="programa.html">PROGRAMA</a></div>
						<div class="menu-category"><a href="material.html">MATERIAL</a></div>
						<div class="menu-category"><a href="clases.html">CLASES</a></div>
						<div class="menu-category"><a href="ayudantias.html">AYUDANTÍAS</a></div>
						<div class="menu-category"><a href="tareas.html">TAREAS</a></div>
					</td>
					<td id="layout-content">
						<div id="toptitle">
							<!-- TÍTULO -->
							<h1>CLASES</h1>
							<!-- SUBTÍTULO -->
							<div id="subtitle"><b>IMT2200 - Introducción a la Ciencia de Datos</b></div>
						</div>
						<!-- CONTENIDO DESDE AQUÍ -->
						<h2>INTRODUCCIÓN</h2></a></li>
						<ul>
							<!-- INICIO CLASES -->
							<li><a href="clases/clase1.html"><h4>CLASE 1: Introducción general y programa del curso</h4></a></li>
							<li><a href="clases/clase2.html"><h4>CLASE 2: Herramientas computacionales para ciencia de datos</h4></a></li>
							<!-- FIN CLASES -->
						</ul>
						<!-- CONTENIDO HASTA AQUÍ -->
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
